// ** z-indexes ** [Should not be above 999]
$left-side-panel-upper-z: 640;
$left-side-panel-lower-z: 620;
$right-side-panel-z: 620;
$no-view-z: 600;
$global-header-z: 420;
$main-overlay-z: 220;
$header-menu-dropdown-z: 610;
$nav-action-header-z: 120; //while header is sticky
$form-action-z: 121;
$progress-bar-z: 480;
$nav-action-sub-header: 110;
$main-menu-z: 400;
$nav-header-z: 120;
$sidebar-z: 150; //for all the sidebar
// Breakpoint variables

$S: 480px;
$M: 768px;
$L: 1170px;
$XL: 1500px;
$tablet: 1024px;
$tabAir: 1180px;

// button size
$popup-button-width: 10vw;
$normal-button-width: 15vw;
$button-shadow: 0 3px 6px 0 rgba(75, 86, 192, 0.16);

// form
$form-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.05);
$form-padding-y: 25px;
$form-padding-x: 4%;

//datatable and form
$sticky-header-height: 61px;

// Layout setting
$top-nav-height: 68px;
$left-nav-height: 82px;
